<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="core.left.io.framework">

    <application
        android:name=".App">

        <!--Added to replace the value, although dependency library might also use crashlytics. As rightmesh already use that-->
        <meta-data
            tools:replace="android:value"
            android:name="io.fabric.ApiKey"
            android:value="cc51aa4b9109d3abd82876628e9b9e1692d7728f"
            />
    </application>

</manifest>
