<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.w3engineers.ext.strom">

    <application
        android:name=".App">

        <!--Added to replace the value, although dependency library might also use crashlytics. As rightmesh already use that-->
        <meta-data
            tools:replace="android:value"
            android:name="io.fabric.ApiKey"
            android:value="cc51aa4b9109d3abd82876628e9b9e1692d7728f"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>
